In [1]:
from package.maths import *
addition(1,2)

3

In [2]:
substractions(3,2)

1

In [3]:
import array
arr=array.array('i',[1,2,3,4])
print(arr)

array('i', [1, 2, 3, 4])

In [4]:
import math
print(math.sqrt(16))

4.0

In [6]:
import random
print(random.randint(1,10))

9

In [7]:
# file and directory access
import os 
print(os.getcwd())

c:\Users\myesh\Desktop\python_port\module

In [9]:
os.mkdir('test1_dir')

In [10]:
import shutil
shutil.copy('source.txt','destination.txt')

'destination.txt'

In [18]:
#data serialization
import json 
data ={'name':'krish','age':15}
json_dir=json.dumps(data)
print(type(json_dir))
print(type(data))
parsed_data=json.loads(json_dir)
print(json_dir)

<class 'str'>
<class 'dict'>
{"name": "krish", "age": 15}

In [19]:
print(type(parsed_data))
print(parsed_data)

<class 'dict'>
{'name': 'krish', 'age': 15}

In [29]:
import csv

with open('example.csv',mode='w',newline='') as file:
    writer=csv.writer(file)
    writer.writerow(['name','age'])
    writer.writerow(['Krish',32])

with open('example.csv',mode='r') as file:
    reader=csv.reader(file)
    for row in reader:
        print(row)

['name', 'age']
['Krish', '32']

In [32]:
from datetime import datetime, timedelta
now=datetime.now()
print(now)
yest=now-timedelta(days=1)
print(yest)

2024-12-12 16:47:21.218143
2024-12-11 16:47:21.218143

In [33]:
## time
import time
print(time.time())
time.sleep(2)
print(time.time())

1734051682.7585058
1734051684.7594473

In [37]:
import re
pattern=r'\d+'
text='there are around 145 member of students'
match=re.search(pattern,text)
print(match.group())

145

In [40]:
x=int(input())
l=[]
for i in range(x):
    l.append(int(input()))

In [41]:
print(l)

[23, 2, 312, 4, 5]

In [44]:
l.sort(reverse=True)

In [45]:
print(l)

[312, 23, 5, 4, 2]

In [48]:
x=l[0]
for i in l:
    if x > i:
        print(i)
        break

23

In [66]:
def prime(x):
    if x==2:
        print(x)
    if x>2:
        for i in range(2,x):
            if x%i==0:
                return "it is not prime"
        else:
         return x

In [70]:
prime(17)

17

In [73]:
prime(23)

23

In [78]:
def uni_list(x):
    l=[]
    for i in x:
        if i not in l:
            l.append(i)
    return list(l)

In [79]:
print(uni_list([1,2,2,3,4,5,54,3,3,]))

[1, 2, 3, 4, 5, 54]

In [82]:
y=int(input())
d={}
for i in range(y):
    key=input()
    d[key]=int(input())
print(d)

{'satish': 55, 'yash': 94, 'nikhil': 45}

In [83]:
max(d)

'yash'